body {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
    45deg,
    rgba(0, 216, 255, 0.5) 10%,
    rgba(0, 1, 127, 0.7)
  );
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  color: whitesmoke;
  text-decoration: rgba(0, 216, 255, 0.5);
}

.App {
  height: 100vh;
  position: relative;
  padding: 16px;
  box-sizing: border-box;
}

a {
  color: whitesmoke;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
}

label {
  display: block;
}

.navvy {
  display: flex;
  justify-content: space-between;
}

input {
  height: 100px;
  width: 350px;
}

.image {
  align-self: center;
}

#home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#titleFlex {
  align-self: center;
}

#buttonFlex {
  align-self: center;
}

#uploadFlex {
  align-self: center;
}

#pieChart {
  flex-shrink: 3;
}

#victoryPage {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
}

#navBar {
  display: inline-block;
  margin: 1em;
  color: whitesmoke;
  font-size: x-large;
  font-weight: 300;
  font-stretch: extra-expanded;
  font-variant-caps: titling-caps;
}

form div {
  margin: 1em;
  display: inline-block;
}
