@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

body {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
    45deg,
    rgba(0, 216, 255, 0.5) 10%,
    rgba(0, 1, 127, 0.7)
  );
  font-family: 'Open Sans Condensed', sans-serif;
  text-shadow: rgba(0, 1, 127, 0.7);
  color: whitesmoke;
  text-decoration: rgba(0, 216, 255, 0.5);
}

.bg {
  animation: slide 15s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    rgb(112, 148, 248) 50%,
    rgb(182, 217, 240) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 15s;
}

.bg3 {
  animation-duration: 15s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.App {
  height: 100vh;
  position: relative;
  padding: 16px;
  box-sizing: border-box;
}

a {
  align-self: center;
  border: 2px solid #6385dd;
  background-color: #6385dd;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  box-shadow: 8px 8px #99bdff;
  align-self: center;
}

label {
  display: block;
}

.navvy {
  display: flex;
  justify-content: space-between;
}

.image {
  align-self: center;
}

#home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#titleFlex {
  align-self: center;
  border: 2px solid #6385dd;
  background-color: #6385dd;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  box-shadow: 8px 8px #99bdff;
}

.button-3 {
  border: 2px solid #6385dd;
  background-color: #6385dd;
  border-radius: 20px;
  color: #fff;
  transition: 0.3s;
}
.button-3:hover {
  box-shadow: 8px 8px #99bdff;
  transition: 0.3s;
}

input {
  padding: 15px 22px;
  margin: 10px 5px;
  box-sizing: border-box;
  border: 2px solid #6385dd;
  border-radius: 5px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

input:hover {
  box-shadow: 8px 8px #99bdff;
  transition: 0.3s;
}

#uploadFlex {
  align-self: center;
}

#pieChart {
  flex-shrink: 3;
  height: 200px;
  width: 200px;
}

#victoryPage {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
}

#impLabel {
  align-self: flex-start;
  border: 2px solid #6385dd;
  background-color: #6385dd;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  box-shadow: 8px 8px #99bdff;
  font-family: 'Open Sans Condensed', sans-serif;
}

#navBar {
  border: 2px solid #6385dd;
  background-color: #6385dd;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  box-shadow: 8px 8px #99bdff;
}

form div {
  margin: 1em;
  display: inline-block;
}
